.bookImage {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.imageContainer {
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionText {
  text-align: left;
  margin: 8px;
}

.toggleButton {
  padding: 8px 16px;
  margin: 15px 0;
  font-size: 14px;
  cursor: pointer;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.bookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  max-width: 250px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titleContainer {
  font-weight: 600;
  margin: 12px 0;
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
}

.invalidImageURL {
  color: red;
}
